
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.home form {
    padding: 50px;
}

.home input {
    width: 50vw;
    text-align: center;
}

.home button {
    background: red;
    border: none;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 8px;
}

.home button:hover {
    background: #FF5353;
    transform: scale(1.1);
    transition: 1.2s;
}

.sec {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    background: white;
    width: 50vw;
    height: 80px; 
    gap: 10px;
    border-radius: 8px;
}


.cooking, .timeOperation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 130px;
    margin-top: 15px;
}

.cooking p {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 100px;
    height: 50px; 
    background: #F8F8F8;
    text-align: center;
}

.timeOperation p {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 125px;
    height: 50px; 
    background: #FF5353;
    color: white;
    text-align: center;
}

.order {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 35px;
}

.order i {
    color: #FF5353;
}