
.contHeader {
    background: white;
    color: red;
    height: 85px;
    
}

.conteiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.contNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 55px;
    list-style: none;
}

.contNav ul li {
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.contNav ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0%;
    height: 3px;
    background: red;
    transition: width 0.3s ease-in-out;
}

.contNav ul li:hover::after {
    width: 100%;
}

